.container {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 5px 15px;
  width: 70%;
  margin: 4rem auto 4rem auto;
  border-radius: 10px;
  border: 5px solid black;
  padding: 2rem 1rem 2rem 1rem;
}

.container img {
  object-fit: contain;
  width: 100%;
  max-width: 300px;
}

.score {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 2rem;
}

.message {
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
    margin: 2rem auto 2rem auto;
    border: 4px solid black;
  }

  .score {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 2rem;
  }

  .message {
    font-size: 1rem;
  }
}
